<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_with(url: sessions_url) do |f| %>
  <p>Login Name:</br> <%= f.text_field :login_name %></p>
  <p>Password:</br> <%= f.text_field :password %></p>
  <%= f.submit :login %>
<% end %>
