<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Username</td>
      <td>Email</td>
    </tr>
  </thead>

  <tbody>
    <% (users || []).each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  <tbody>
</table>
