<h1>Resources list</h1>

<div id="form_resource">
  <%= render 'form', resource: @resource if policy(Resource).create? %>
</div>

<table class="table table-dark table-striped mt-1">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody>
    <%= render @resources %>
  </tbody>
</table>
