<tr>
  <th scope='row'><%= role.id %></th>
  <td><%= role.name %></td>
  <td>
  <div class="btn-group">
    <%= button_to "Edit", edit_role_path(role), class: 'btn btn-primary' %>
    <%= button_to "Access", access_role_path(role), class: 'btn btn-primary' %>
  </div>
  </td>
</tr>
