<table class="table table-striped mt-1 mb-1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Role name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody id="roles">
    <%= render @roles %>
  </tbody>
</table>
