<table class="table table-striped mt-1 mb-1">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Role name</th>
    </tr>
  </thead>

  <tbody id="roles">
    <%= render @roles %>
  </tbody>
</table>
